.footer {
    background: linear-gradient(to right, rgb(141, 112, 255) 90%, rgb(141, 112, 255));
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.footer__social-item {
    width: 20px;
    height: 20px;
}