.sidepanel {
    position: fixed;
    top: 150px;
    left: 5px;
    height: 400px;
    &__social {
        display: grid;
        grid-template-rows: 30px 30px;
        row-gap: 20px;
    } 
    &__line {
    width: 200px;
    height: 1px;
    background-color: #000;
    transform: rotate(90deg);
    position: absolute;
    left: -75px;
    top: 200px;
    }  


    &__text {
        position: absolute;
        width: 150px;
        bottom: 10px;
        transform: rotate(-90deg);
        left: -52px;
        font-size: 18px;
    }
}